#savearticle{
	margin: 10px 0px;
}

#button{
	margin: 10px 0px;
	width: 110px;
	padding: 5px;
}

#main{
	height: 100%;
}

#question{
	color: black;
	font-size: 25px;
}
.form-control{
	width: 20%;
}
#session{
	float: right;
}