<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Quora Clone</h2>
  <p>
    This is a question to many answers platform. Ask any question and let other users answer them.
  </p>
  {{#link-to 'contact' class="button"}}
    Contact Us
  {{/link-to}}
</div>
{{outlet}}
