{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
<nav class='navbar navbar-default'>  
    <div class='container'>
        <div class='navbar-brand'>Quora Clone</div>
    </div>
</nav>  
<div class='container'>  
    {{outlet}}
</div> 
