<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>Send any technical question to our dedicated support team</p>
  <p>
    Quora Clone
    <address>
      Ngong Lane Plaza<br>
      Nairobi, Kenya
    </address>
    <a href="tel:503.555.1212">+254 (748) 0000-00</a><br>
    <a href="mailto:quoraclone@quoracc.com">quoraclone@quoracc.com</a>
  </p>
</div>
{{outlet}}
