<div class='container'> 
	<div class='row'>
	 	<button {{action 'askQuestion'}} id="button" class='btn btn-success'>Ask Question</button>
	</div>
<div class='row'>
	{{#questions-filter
		filter=(action 'filterByCategory')
		as |filteredData|}}
		{{#each filteredData as |item|}}
			{{question-item item=item upVote='upVote' downVote='downVote'}}
			<hr>
		{{/each}}
	{{/questions-filter}}
	</div>
</div>
<!--<div class='list-group'>  
    {{#link-to 'sign-up' class='list-group-item'}}
        Sign Up
    {{/link-to}}
   {{#if session.isWorking}}
   	 {{#link-to 'sign-in' class='list-group-item'}}
        Signing In...
    {{/link-to}}
    {{else}}
     {{#link-to 'sign-in' class='list-group-item'}}
        Sign In...
    {{/link-to}}
   {{/if}}
</div>  -->
{{outlet}}
