<div class='container'> 
{{#each model as |item|}}
	{{question-item item=item upVote='upVote' downVote='downVote'}}
	<hr>
{{/each}}
</div>
<hr>
{{new-question saveQuestion='saveQuestion'}}
<!--<div class='list-group'>  
    {{#link-to 'sign-up' class='list-group-item'}}
        Sign Up
    {{/link-to}}
   {{#if session.isWorking}}
   	 {{#link-to 'sign-in' class='list-group-item'}}
        Signing In...
    {{/link-to}}
    {{else}}
     {{#link-to 'sign-in' class='list-group-item'}}
        Sign In...
    {{/link-to}}
   {{/if}}
</div>  -->
{{outlet}}
